<div class="p-4">
  <div class="text-end mb-4">
    <a style="text-decoration: none;" class="text-black" routerLink="admin-login">Login as ADMIN</a>
    <!-- <a href="">Login</a> -->

  </div>
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div *ngFor="let i of pdata" class="col">
      <div class="card text-center" style="height: 482px;">
        <img src={{i.image}} class="card-img-top h-50" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.pname}}</h5>
          <p class="card-text">{{i.description}}</p>
          <h4>{{i.price}}Rs.</h4>
        </div>
        <div class="text-center mb-4">
          <button (click)="singleView(i._id)" class="btn btn-dark w-50">View</button>
        </div>
      </div>
    </div>
  </div>
</div>