<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" style="height: 400px;" src={{pdata.image}}
                    alt="..." /></div>
            <div class="col-md-6">

                <div class="small mb-1 text-primary"></div>
                <h1 class="display-5 fw-bolder">{{pdata.pname}}</h1>
                <div class="fs-5 mb-3">
                    <span class="text-decoration-line-through">Rs {{pdata.price+500}}</span><br>
                    <span style="color: rgb(0, 0, 0)"><b>Rs {{pdata.price}}</b></span>
                </div>
                <p class="lead text-capitalize"><b>{{pdata.description}}</b></p>
                <p class="lead text-capitalize">Rating <b>{{pdata.rating}}</b></p>

                <div class="d-flex">
                    <button (click)="addToWishlist()" type="button" class="btn btn-dark">Add To Wishlist</button>
                    <button (click)="Cart()" class="btn btn-dark ms-4">Add To Cart</button>
                </div>

            </div>
        </div>
    </div>
</section>