<div class="mb-4 pb-5">
    <h1 class="text-center mt-5">Sign UP</h1>
    <form (ngSubmit)="register()" [formGroup]="userRegisterForm" action="" class="w-25 text-center bg-dark pb-4 pt-5 ps-4 pe-4 rounded container mt-4 mb-2">
        <input formControlName="email" name="em" id="e1" type="text" placeholder="Email" class="form-control"> <br>
        <div *ngIf="this.userRegisterForm.get('email')?.errors && this.userRegisterForm.get('email')?.touched">
            <p class="text-danger">*Please Provide Valid Emial Id</p>
        </div>

        <input formControlName="psw" name="upsw" id="p1" type="password" placeholder="PassWord" class="form-control "> <br>
        <div *ngIf="this.userRegisterForm.get('psw')?.errors && this.userRegisterForm.get('psw')?.touched">
            <p class="text-danger">*Please Include Charecters, Numbers and Special Charecters</p>
        </div>
        <button type="submit" class="btn btn-outline-light">Signup</button>
    </form>
</div>